<h1>Room / staff assignments</h1>
<% form_tag :action => "save_rooms" do %>
<%= link_to_function('add', nil, {:class => 'button'}) { |page|
    page.insert_html :bottom, "room_body", :partial => '/dashboard/room'
} %>
<table>
    <thead>
        <tr>
            <th>Room</th>
            <th>Staff</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="room_body">
        <%= render :partial => '/dashboard/room', :collection => @rooms -%>
    </tbody>
</table>    
<%= link_to_function('add', nil, {:class => 'button'}) { |page|
    page.insert_html :bottom, "room_body", :partial => '/dashboard/room'
} %>
<%= submit_tag "Save" %>

</table>
<% end %>

<h1>Number of rounds</h1>
<% form_tag :action => "set_rounds" do %>
<%= text_field_tag "count", @rounds.size, :size => 2 %>
<%= submit_tag "Save" %>
<% end %>

<h1>Card matchups</h1>
<% form_tag :action => "save_cards" do %>
<table>
    <thead>
        <tr>
            <th></th>
            <% for round in @rounds %>
            <th><%= round.number %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% for room in @rooms %>
        <tr>
            <td><%= room.name %></td>
            <% @rounds.each_with_index do |round, index| %>
                <td class="small" style="text-align: center;">
                    <% game = room.games[index] %>
                    <%= text_field_tag "foobar", game.team_games[0].card, {:size => 3, :disabled => "true"} %> &ndash;
                    <%= text_field_tag "foobar", game.team_games[1].card, {:size => 3, :disabled => "true"} %>
                </td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>
<% end %>