<% if player_neg.is_a? Array
  player = player_neg[0]
  i = player_neg[1]
else
  player = player_neg
  i = nil
end -%>
<tr class="<%= cycle('row1','row2') -%>">
  <% if not i.nil? -%><td><%= "#{i}" -%></td><% end -%>
  <td>
    <%= player.name %> <%= "(#{player.year})" if player.year != "" and not player.year.nil? and $tournament.includes_years? -%>
    <%= link_to player.team.name,{:action => 'team',:id => player.team},{:class=>"secondary_name"} if team_name %>
  </td>
  <td class="number"><%= fmt(player.gp) -%></td>
  <% for type in types -%>
  <td class="number"><%= player.answered(type) -%></td>
  <% end -%>
  <td class="number"><%= fmt(player.npg) -%></td>
<% if $tournament.timed? %>
  <td class="number"><%= fmt(player.neg20) -%></td>
<% end %>
  <td class="number"><%= fmt(player.tu_neg) -%></td>
</tr>
<% player.save_if_changed %>
