<h2>Individual Standings &mdash; Round <%= @max_round %></h2>
<% if $tournament.count_playoffs_for_personal? then %>
<strong>Note:</strong> Playoff games are counted for determining personal statistics.
<% else %>
<strong>Note:</strong> Playoff games are not counted for determining personal statistics.  
<% end %>
<table class="standings">
	<tr>
		<th colspan="2">PPG Leaders</th>
		<th class="number">GP</th>
		<% if $tournament.timed? %>
		<th class="number">TUH</th>
		<% end %>
		<% for type in @types %>
		<th class="number"><%= type.value %></th>
		<% end %>
		<th class="number">Pts</th>
		<th class="number">PPG</th>
		<% if $tournament.timed? %>
		<th class="number">PP20H</th>
		<% end %>
		<th class="number">TU/neg</th>
		<th class="number">neg/20H</th>
	</tr>
	<% i = 0 %>
        <%= render :partial => 'player', :collection => @players_tuh_cut.collect{|p| [p, i+=1]}, :locals => {:types => @types, :team_name => true, :player_link => false} -%>
</table>

<table class="standings">
	<tr>
		<th colspan="2">Neg-5 Leaders</th>
		<th class="number">GP</th>
		<% for type in @negtypes %>
		<th class="number"><%= type.value %></th>
		<% end %>
		<th class="number">neg/game</th>
		<% if $tournament.timed? %>
		<th class="number">neg/20H</th>
		<% end %>
		<th class="number">TU/neg</th>
	</tr>
	<% i = 0 %>
	<%= render :partial => 'player_neg', :collection => @players_neg.collect{|p| [p,i+= 1]}, :locals => {:types => @negtypes, :team_name => true} -%>
</table>
