<% @rounds.each do |round| -%>
<% next if round.games.empty? -%>
<div class="roundscores">
<h2>Round <%= round.number -%> Scores</h2>
<% games = @tournament.bracketed? ? round.games.sort{|a,b| a.bracket.ordering <=> b.bracket.ordering} : round.games -%>
<% for game in games -%>
	<table>
		<% if @tournament.bracketed? -%>
		<tr>
			<th colspan="2"><%= game.bracket.name -%>
		</tr>
		<% end -%>
		<% for team_game in game.team_games %>
		<tr class="<%= cycle("row1", "row2") %>">
		    <%  if team_game.team.nil? %>
		    <td colspan="2">Holder of card <b><%= team_game.card %></b></td>
		    <% else %>
			<td><%= team_game.team.name -%> (card <%= team_game.card %>)</td>
			<td><%= team_game.points -%></td>
			<% end %>
		</tr>
        <% end %>
	</table>
<% end -%>
	<p style="clear: both;"></p>
</div>
<% end -%>
