<h2>Current Standings &mdash; Round <%= @max_round %></h2>
<% for bracket in @brackets -%>
<% count = 0 -%>
<table class="standings">
	<tr>
		<th colspan="2"><%= bracket.nil? ? "Overall Standings" : bracket.name -%></th>
		<th class="number">W</th>
		<th class="number">L</th>
		<th class="number">Pct</th>
		<th class="number">PF</th>
		<th class="number">(per game)</th>
		<th class="number">PA</th>
		<th class="number">(per game)</th>
		<th class="number">PP20H</th>
		<th class="number">P/Bonus</th>
	</tr>
	<% for team in (bracket.nil? ? @allteams : @teams[bracket]) -%>
	<tr class="<%= cycle('row1','row2') %>">
		<% count += 1 -%>
		<td class="number"><%= count -%></td>
                <td class="teamname">
                        <%= link_to team.name,:action => 'team',:id => team.id %>
                        <% if (team.school.small?) %>
                        (small)
                        <% end %>
                        <!---->
                </td>
		<td class="number"><%= team.wins(bracket) %></td>
		<td class="number"><%= team.losses(bracket) %></td>
		<td class="number"><%= fmt(team.win_pct(bracket)) %></td>
		<td class="number"><%= team.pf(bracket) %></td>
		<td class="number"><%= fmt(team.pf_per(bracket)) %></td>
		<td class="number"><%= team.pa(bracket) %></td>
		<td class="number"><%= fmt(team.pa_per(bracket)) %></td>
		<td class="number"><%= fmt(team.pp20(bracket)) %></td>
		<td class="number"><%= fmt(team.ppbonus(bracket)) %></td>
	</tr>
	<% end -%>
</table>
<% end -%>
