<h1>Players for <%= @school.name %> (<%= @school.city %>)</h1>
<% form_tag :action => "save_players", :id => @school do %>
    <% for team in @school.teams.sort_by {|t| t.name} %>
    <h2><%= team.name %></h2>
    <%= link_to_function('add', nil, {:class => 'button'}) { |page|
        page.insert_html :bottom, "tbody#{team.id}", :partial => "player", :locals => {:team => team}
    } %>
    <table class="horizontal">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Future College</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbody<%= team.id %>">
        <%= render :partial => "player", :collection => team.players.sort_by{|p| p.name}, :locals => {:team => team} %>
        </tbody>
    </table>
    <%= link_to_function('add', nil, {:class => 'button'}) { |page|
        page.insert_html :bottom, "tbody#{team.id}", :partial => "player", :locals => {:team => team}
    } %>
    <% end %>
    <%= submit_tag "Save" %>
<% end %>
