<% if not @schools_check_in.empty? %>
<div class="roundscores">
<h2>Would the following schools please come register:</h2>
	<% for school in @schools_check_in %>
	<table>
	<tr class="<%= cycle("row1", "row2") %>">
	    <td><%= school.name %></td>
	</tr>
	</table>
	<% end %>
	<p style="clear: both;"></p>
</div>
<% end %>

<% if not @schools_roster_check.empty? %>
<div class="roundscores">
<h2 style="clear: both;">Would the following schools please check/submit their rosters as soon as possible:</h2>

	<% for school in @schools_roster_check %>
	<table>
	<tr class="<%= cycle("row1", "row2") %>">
	    <td><%= school.name %></td>
	</tr>
	</table>
	<% end %>
	<p style="clear: both;"></p>
</div>
<% end %>

<%= $tournament.welcome_content -%>
