<h1>Edit a game score</h1>
<% form_tag :action => "save_game", :id => @game.id do -%>
<table class="horizontal">
    <tr>
        <th>Round</th>
        <th>Teams</th>
        <% if $tournament.swiss -%><th>Cards</th><% end -%>
        <th>Points</th>
        <% if $tournament.bracketed -%><th>Bracket</th><% end -%>
        <th>TUH</th>
        <% if $tournament.tracks_rooms -%><th>Room</th><% end -%>
        <th>Flags</th>
        <th></th>
    </tr>
    <tr>
        <td rowspan="2">
            <%= text_field_tag 'round_number', @last_round, {:size => 2, :tabindex => 1, :onblur => "#{'update_room_list();' if $tournament.tracks_rooms}"} %>
        </td>
        <td>
            <%= @game.team_games[0].team.name -%>
            <%= hidden_field_tag 'team1', @game.team_games[0].team.id -%>
        </td>
        <% if $tournament.swiss -%>
        <td>
            <%= text_field_tag 'card1', @game.team_games[0].card.number, {:size => 3, :tabindex => 4} -%>
        </td>
        <% end -%>
        <td>
            <%= text_field_tag 'score1', @game.team_games[0].points, {:size => 4,:tabindex => 6} -%>
        </td>
        <% if $tournament.bracketed -%>
        <td rowspan="2">
            <%= select_tag 'bracket', options_for_select(Bracket.find(:all).collect{|a| [a.name, a.id]}, @game.bracket.id), {:tabindex => 8} -%>
        </td>
        <% else %>
        <%= hidden_field_tag 'bracket' -%>
        <% end %>
        <td rowspan="2">
            <%= text_field_tag 'tossups', @game.tossups, {:size => 2,:tabindex => 9} -%>
        </td>
        <% if $tournament.tracks_rooms %>
        <td rowspan="2">
            <%= select_tag 'room', nil, {:tabindex => 10} -%>
        </td>
        <% end -%>
        <td rowspan="2" style="text-align: left; white-space: nowrap;">
        	<%= check_box_tag 'extragame', "1", @game.extragame?, :tabindex => 11  %> extra game<br />
        	<%= check_box_tag 'overtime', "1", @game.overtime?, :tabindex => 12 %> overtime<br />
        	<%= check_box_tag 'playoffs', "1", @game.playoffs?, :tabindex => 13 %> playoffs<br />
        	<%= check_box_tag 'forfeit', "1", @game.forfeit?, :tabindex => 14 %> forfeit<br />
        </td>
        <td rowspan="2" class="submit">
            <%= submit_tag 'Save',{:tabindex => 15} -%>
        </td>
    </tr>
    <tr>
        <td>
            <%= @game.team_games[1].team.name -%>
            <%= hidden_field_tag 'team2', @game.team_games[1].team.id -%>
        </td>
        <% if $tournament.swiss -%>
        <td>
        	<%= text_field_tag 'card2', @game.team_games[1].card.number, {:size => 3, :tabindex => 5} -%>
        </td>
        <% end -%>
        <td>
            <%= text_field_tag 'score2', @game.team_games[1].points,{:size => 4,:tabindex => 7} %>
        </td>
    </tr>
</table>
<% end -%>

<%= update_page_tag do |page|
	page<< "function update_room_list(){"
	page<< "var round_id = $('round_number').value;"
	page<< remote_function(:update => "room", :url => {:action => 'rooms_for_round', :id => "'+round_id+'", :editing => true, :selected => $tournament.tracks_rooms? ? @game.room.id : nil})
	page<< "}"
	page<< "update_room_list();"
end -%>

