<h1>Enter a game score</h1>
<% form_tag :action => "save_game" do -%>
<table class="horizontal">
    <tr>
        <th>Round</th>
        <th>Teams</th>
        <% if @tournament.swiss -%><th>Cards</th><% end -%>
        <th>Points</th>
        <% if @tournament.bracketed -%><th>Bracket</th><% end -%>
        <th>TUH</th>
        <% if @tournament.tracks_rooms -%><th>Room</th><% end -%>
        <th>Flags</th>
        <th></th>
    </tr>
    <tr>
        <td rowspan="2">
            <%= text_field_tag 'round_number', @last_round, {:size => 2, :tabindex => 1, :onblur => "update_team_list(1); update_team_list(2);  #{'update_room_list();' if @tournament.tracks_rooms}"} %>
        </td>
        <td>
            <%= select_tag 'team1', nil, {:tabindex => 2} %>
        </td>
        <% if @tournament.swiss -%>
        <td>
            <%= text_field_tag 'card1', nil, {:size => 3, :tabindex => 4} -%>
        </td>
        <% end -%>
        <td>
            <%= text_field_tag 'score1',nil,{:size => 4,:tabindex => 6} -%>
        </td>
        <% if @tournament.bracketed -%>
        <td rowspan="2">
            <%= select_tag 'bracket', options_for_select(Bracket.find(:all).collect{|a| [a.name, a.id]}), {:tabindex => 8} -%>
        </td>
        <% else %>
        <%= hidden_field_tag 'bracket' -%>
        <% end %>
        <td rowspan="2">
            <%= text_field_tag 'tossups',nil,{:size => 2,:tabindex => 9} -%>
        </td>
        <% if @tournament.tracks_rooms %>
        <td rowspan="2">
            <%= select_tag 'room', nil, {:tabindex => 10} -%>
        </td>
        <% end -%>
        <td rowspan="2" style="text-align: left; white-space: nowrap;">
        	<%= check_box_tag 'extragame', "1", false, :tabindex => 11  %> extra game<br />
        	<%= check_box_tag 'overtime', "1", false, :tabindex => 12 %> overtime<br />
        	<%= check_box_tag 'playoff', "1", false, :tabindex => 13 %> playoffs<br />
        	<%= check_box_tag 'forfeit', "1", false, :tabindex => 14 %> forfeit<br />
        </td>
        <td rowspan="2" class="submit">
            <%= submit_tag 'Save',{:tabindex => 15} -%>
        </td>
    </tr>
    <tr>
        <td>
            <%= select_tag 'team2', nil, :tabindex => 3 %>
        </td>
        <% if @tournament.swiss -%>
        <td>
        	<%= text_field_tag 'card2', nil, {:size => 3, :tabindex => 5} -%>
        </td>
        <% end -%>
        <td>
            <%= text_field_tag 'score2',nil,{:size => 4,:tabindex => 7} %>
        </td>
    </tr>
</table>
<% end -%>
<h1>Finish stats for a game</h1>

<% @teams_to_enter.each do |team| -%>
<strong><%= team.name -%></strong>
<ul>
<% @games_to_enter.select{|g| g.teams.include? team}.sort{|a,b| a.round.number <=> b.round.number}.each do |game| 
	tg1 = game.team_game_for(team)
	tg2 = game.team_game_for_other(team)
-%>
	<li>
	<%= link_to "Round #{game.round.number}: #{team.name} #{tg1.points}#{" (#{tg1.card.nil? ? "--" : tg1.card.number})" if @tournament.swiss} vs. #{tg2.team.name} #{tg2.points}#{" (#{tg2.card.nil? ? "--" : tg2.card.number})" if @tournament.swiss} in #{game.tossups} tossups [#{(game.team_game_for(team).points > game.team_game_for_other(team).points) ? "W" : "L"}#{" OT" if game.overtime}#{" forfeit" if game.forfeit}#{", #{game.bracket.name}" if @tournament.bracketed}#{", #{game.room.name}" if @tournament.tracks_rooms}]", {:action => 'enter_indivs', :id => tg1.id} -%>
	</li>
<% end -%>
</ul>
<% end -%>

<%= update_page_tag do |page|
	page<< "function update_team_list(team_num)"
	page<< "{"
	page<< "var round_id = $('round_number').value;"
	page<< remote_function(:update => "team'+team_num+'", :url => {:action => 'teams_for_round', :id => "'+round_id+'"})
	page<< "}"
	page<< "function update_room_list(){"
	page<< "var round_id = $('round_number').value;"
	page<< remote_function(:update => "room", :url => {:action => 'rooms_for_round', :id => "'+round_id+'"})
	page<< "}"
end -%>

