<% @rounds.each do |round| -%>
<% next if round.games.empty? -%>
<h1>Round <%= round.number -%></h1>
<table>
	<tr>
		<th>Team 1</th>
		<th>Score 1</th>
		<th>Team 2</th>
		<th>Score 2</th>
		<th>Actions</th>
	</tr>
<% round.games.each do |game| -%>
	<tr class="<%= cycle("game_light", "game_dark") -%>">
		<td><%= game.team_games[0].team.name -%></td>
		<td><%= game.team_games[0].points -%></td>
		<td><%= game.team_games[1].team.name -%></td>
		<td><%= game.team_games[1].points -%></td>
		<td style="white-space: nowrap;">
			<%= link_to "edit game", {:action => 'edit_game', :id => game.id}, {:class => 'button'} -%>
			<%= link_to "clear indivs", {:action => 'clear_indivs', :id => game.id}, {:class => 'button', :confirm => "Are you sure you want to clear indivs for that game?"} if game.entry_complete? -%>
			<%= link_to "delete", {:action => 'delete_game', :id => game.id}, {:confirm => "Are you sure you want to delete this game?", :class => 'button'} -%>
		</td>	
	</tr>
<% end -%>
</table>
<% end -%>
