<div style="padding: 10px;" class="nav_buttons">
        <%= link_to "Edit Teams", :action => "edit_teams" %>
</div>        

<h1>Enter a new school</h1>

<% form_tag :action => "save_school", :id => @school.id do -%>
<table>
	<tr>
		<th>school name:</th>
		<td><%= text_field "school","name", :size => 50 -%></td>
	</tr>
	<tr>
		<th>school city:</th>
		<td><%= text_field "school","city", :size => 50 -%></td>
	</tr>
	<tr>
		<th>school status:</th>
		<td><%= check_box "school","small" -%> small school</td>
	</tr>
	<tr>
		<td class="submit" colspan="2">
		<%= submit_tag "Save" %>
		</td>
	</tr>
</table>
<% end -%>
<br />
<br />
<br />

<h1>Manage existing schools</h1>

<table>
<% count = 0 %>
<% @schools.each do |school| -%>
	<% if count == 0 -%>
	<tr>
	<% end -%>
	<% count += 1 -%>
	<td>
	<%= school.name -%> (<%= school.city -%>) <%= link_to "edit", {:action => 'edit_schools', :id => school.id}, {:class => 'button'} -%>
	</td>
	<% if count == 4 -%>
	</tr>
	<% count = 0 -%>
	<% end -%>
<% end -%>
<% if count > 0 -%>
	<% for i in (count)...4 -%>
	<td>&nbsp;</td>
	<% end -%>
	</tr>
<% end -%>
</table>
