<div style="padding: 10px;" class="nav_buttons">
	<%= link_to "Edit Schools", :action => "edit_schools" %>
</div>

<h1>Enter a new team</h1>

<% form_tag :action => "save_team", :id => @team.id do -%>
<table>
	<tr>
		<th>team name:</th>
		<td><%= text_field "team","name", :size => 50 -%></td>
	</tr>
	<tr>
		<th>team school:</th>
		<td><%= select "team","school_id", School.find(:all, :order => 'schools.name').collect{|p| ["#{p.name} (#{p.city})", p.id]} -%></td>
	</tr>
	<tr>
		<td class="submit" colspan="2">
		<%= submit_tag "Save" -%>
		</td>
	</tr>
</table>
<% end -%>
<br />
<br />
<br />

<h1>Manage existing teams</h1>

<table>
<% School.find(:all, :order => 'schools.name', :include => :teams).each do |school| -%>
	<tr>
	<th colspan="3">
	<%= school.name -%> (<%= school.city -%>)
	</th>
	</tr>
	<% school.teams.each do |team| -%>
	<tr>
		<td style="width: 18%; vertical-align: top; font-weight: bold;"><%= team.name -%></td>
		<td style="text-align: center; vertical-align: top; white-space: nowrap;">
			<%= link_to "edit", {:action => 'edit_teams', :id => team.id}, {:class => 'button'} -%>
			<%= link_to_function('players', nil, {:class => 'button', :id => "players_link_#{team.id}"}){|page| 
				page<< remote_function(:update => "team_li_#{team.id}", :url => {:action => 'get_players', :id => team.id})
				page.hide("players_link_#{team.id}")
				page.show("team_close_#{ team.id }") } -%>
			<%= link_to "delete", {:action => 'delete_team', :id => team.id}, {:class => 'button', :confirm => "Are you sure you want to delete this team?"} -%>
		</td>
		<td style="width: 65%;">
		<div id="team_li_<%= team.id -%>">
		</div>
		<div style="margin: 2px;display: none;" id="team_close_<%= team.id -%>"><%= link_to_function('close',nil,{:class => 'button'}){|page| page.hide("team_close_#{team.id}"); page.replace_html("team_li_#{team.id}","<div id='team_li_#{team.id}'></div>"); page.show("players_link_#{team.id}") } -%>
		</td>
	</tr>
	
	<% end -%>
<% end -%>
</table>
