<h1>Edit configuration</h1>
<% form_tag :action => "save_tournament" do -%>
    <table>
        <tr>
            <th>Tournament name:</th>
            <td><%= text_field "tournament","name",:size => 50 %></td>
        </tr>
        <tr>
            <th>This tournament:</th>
            <td>
                <%= check_box "tournament","powers" -%> uses power marks<br />
                <%= check_box "tournament","timed" -%> is timed<br />
                <%= check_box "tournament","bracketed",{:onclick => 'toggle_brackets()'} -%> uses multiple brackets<br />
                <%= check_box "tournament","swiss" -%> uses swiss pairing<br />
                <%= check_box "tournament","ping_stats" -%> automatically submits to <a href="http://www.quizstats.org">quizstats.org</a><br />
                <%= check_box "tournament","includes_years" -%> tracks years of players<br />
                <%= check_box "tournament","tracks_rooms", {:onclick => 'toggle_rooms()'} -%> tracks rooms of games<br />
                <%= check_box "tournament","ping_contact" -%> automatically submits to <a href="http://www.fraughtmachine.com/efcontact/">Entering Freshman Contact List</a> (high school tournaments)
            </td>
        </tr>
        <tr id="bracket_row">
            <th>Bracket names:</th>
            <td>
                <div id="bracket_cell" style="margin-bottom: 10px;">
                    <%= render :partial => 'line', :collection => @brackets, :locals => {:thing => 'bracket'} %>
                </div>
                <%= link_to_function('add', nil, {:class => 'button'}) { |page|
                    page.insert_html :bottom, "bracket_cell", :partial => "line", :locals => {:thing => 'bracket'}
                } %>
            </td>
        </tr>
        <tr id="room_row">
            <th>Room assignments:</th>
            <td>
            	<div id="room_cell" style="margin-bottom: 10px;">
            	    <%= render :partial => 'room', :collection => @rooms -%>
            	</div>
            	<%= link_to_function('add',nil,{:class => 'button'}) { |page|
            	    page.insert_html :bottom, "room_cell", :partial => 'room'
            	} %>
            </td>
        </tr>
        <tr>
            <td class="submit" colspan="2">
            	<%= submit_tag "Save" %>
            </td>
        </tr>
    </table>
<% end -%>
<% javascript_tag do -%>
    function toggle_brackets() {
        if ($F('tournament_bracketed') == 1) {
            Element.show('bracket_row');
        }
        else {
            Element.hide('bracket_row');
        }
    }
    
    function toggle_rooms() {
    	if ($F('tournament_tracks_rooms') == 1) {
    	    Element.show('room_row');
    	}
    	else
    	{
    	    Element.hide('room_row');
    	}
    }
    
    toggle_brackets();
    toggle_rooms();
<% end -%>

<% if @all_tournaments.empty? %>
<h1>Create another tournament</h1>
<% else %>
<h1>Switch or create tournaments</h1>
<ul>
    <% for tournament in @all_tournaments %>
    <li>Switch to <%= link_to tournament.name, :action => "load_tournament", :id => tournament %></li>
    <% end %>
</ul>
<% end %>
<%= render :partial => "new_tournament" %>
