<ul>
    <li><%= link_to "List Tournaments", :action => "list_tournaments" -%></li>
    <li><%= link_to "Edit Tournament", :action => "edit_tournaments" -%></li>
    <li><%= link_to "Edit Teams", :action => "edit_teams" -%></li>
    <li><%= link_to "Edit Players", :action => "edit_players" -%></li>
    <li><%= link_to "New Tournament", :action => "new_tournament" -%></li>
</ul>
